header {
  padding: 5px 0;
  position: relative;
  background: #385f8f;
  text-decoration-color: white;
  text-align: -moz-center;}

header-zoom img:hover {
  overflow: hidden;
}

.header-zoom img {
    max-width: 50%;
    -moz-transition: all 0.3s;
  	-webkit-transition: all 0.3s;
  	transition: all 0.3s;
}

.header-zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.header-zoom a {
  text-decoration: none;
}

body {
    font: normal 20px Arial, Verdana, serif;
    padding-left: 60px;
    padding-right: 60px;
    clear: left;
    text-align: center;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
h2 {
    text-align: center
}
.imagem-homem {
    float: left;
    margin: 0 20px 0 50px;
    transition: 400ms;
    box-shadow: 1px 1px 3px 3px #000000;
}

.zoom img:hover {
  overflow: hidden;
}

.zoom img {
  max-width: 100%;
  -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.zoom a{
  text-decoration: none;
}

.lista-ao-lado-da-imagem {
  text-align: left;
}

p {
    text-align: center;
    vertical-align: top;
}
ul {
    vertical-align: top;
}
.problema {
    display: block;
    width: 50%;
    margin: auto;

}
.imagem-6m {
   display: block;
   width: 70%;
   margin: auto;
 }

.foto-perfil {
   margin: 0 20px 0 50px;
   width: 4%;
   padding-top: 5px;
   border-radius: 10px;
 }

footer {
   position: relative;
   background: #385f8f;
   text-decoration-color: white;
   width: 100%;
   margin: 0 auto;
}
