header {
    padding: 5px 0;
    position: relative;
    background: linear-gradient( );
    text-decoration-color: #0026ff;
    text-align: center;
}

.header-zoom img {
    max-width: 50%;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
    alingn: left;
}

.header-zoom:hover img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

#lupa {
    width: 30px;
    height: 30px;
    cursor: pointer;
    align-items: center;
    border-radius: 6px;
    position: relative;
    vertical-align: bottom;
    
}

    #lupa:hover {
        transform: scale(1.05);
        transition: all 0.1s;
    }
    #lupa img {
    align-content: center
    }

#barra-de-pesquisa {
    align-content: center;
    position: relative;
    margin: auto;
    vertical-align: top;
    width: auto;
    height: auto;
}

body {
    font-style: Palatino, Arial, Verdana, sans-serif;
    margin: 10px;
    height: 100vh;
    width: 100vw;
}

.button {
    width: 200px;
    height: 40px;
    background: border-box;
    background-color: #3CB371;
    border-radius: 2px;
    padding: 15px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    font-size: 12px;
    position: relative;
    margin-inline: auto;
    text-align: justify-all;
}

    .button:hover {
        transform: scale(1.02);
        transition: all 0.05s;
    }

.caixa {
    position: relative;
    width: 75%;
    margin: 0 auto;
    align-content: center;
}

section {
    text-align:center
}

h2 {
    text-align: center
}

h3 {
    text-align: center
}

.imagem-homem {
    float: left;
    margin: 0 20px 0 50px;
    transition: 400ms;
    box-shadow: 1px 1px 3px 3px #000000;
}

.zoom img:hover {
    overflow: hidden;
}

.zoom img {
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}


.lista-ao-lado-da-imagem {
    text-align: left;
}

p {
    text-align: left;
    vertical-align: top;
}

ul {
    vertical-align: top;
}

.Diagrama-de-causa-e-efeito {
    display: block;
    width: 100%;
    margin: auto;
}

.imagem-6m {
    display: block;
    width: 70%;
    margin: auto;
}

.foto-perfil {
    margin: 0 20px 0 50px;
    width: 5%;
    padding-top: 0;
    border-radius: 5px;
    align-content: left;
    border-block-color: #000000;
}

.logo-engenharia {
    margin: 0 1px 0 50px;
    width: 5%;
    padding-top: 10px;
    border-radius: 20px;
    align-content: center;
    cursor: pointer;
}
    .logo-engenharia:hover {
        transform: scale(1.02);
        transition: all 0.05s;
    }




    .logo-linkedin {
        margin: 0 50px 0 50px;
        width: 10%;
        padding-top: 10px;
        border-radius: 20px;
        align-content: center;
        cursor: pointer;
    }

    .logo-linkedin:hover {
        transform: scale(1.02);
        transition: all 0.05s;
    }

footer {
    position: relative;
    background: #ffffff;
    text-decoration-color: white;
    width: 100%;
    margin: 0 auto;
}
